@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Merriweather:wght@300&display=swap');

body{
  background-image: linear-gradient(#ee0979,#ff6a00);
  background-attachment: fixed;
}
a{
  color: #354548;
}
a:hover{
  color: #000;
}
.container{
  padding-top: 50px;
}
.row{
  height: 50vh;
}


.app_main-content{
  background-color: cyan;
  border-radius: 20px;
  padding: 20px 10px;
  box-shadow: 0 0 10px black;
}
/*sidebar*/
.sidebar{
  background-color: pink;
  height: 100%;
  border-radius: 20px;
  padding: 20px 10px;
  box-shadow: 0 0 10px black;
  text-align: center;
}
.sidebar__avatar {
  height: 100px;
  width: 100px;
  object-fit: contain;
  border-radius: 100%;
}
.sidebar__icon{
  width: 25px;
  height: 25px;
}
.sidebar__name{
  font-family: Kaushan Script;
  margin: 20px 0;
  font-size: 1.5rem;
}
.sidebar__title{
  background-color: #f1f1f1;
  border-radius: 30px;
}
.sidebar__item{
  margin-bottom: 6px;
  padding-top: 6px;
  height: 40px;
  font-size: 1rem;
}
.sidebar__social-icons{
padding: 2px 0;
}
.sidebar__email{
 margin :40px 25px 0px;
 color: #fff;
 border-radius: 30px;
 cursor: pointer;
 transition: all 2s linear;
 background-color: #ff6a00;
}
.sidebar__email:hover{
transform: scale(1.2);
color: #000;
}
@media(max-width:991px){
.app_main-content{
 margin:30px 0;
}
}
/* Navbar */
.navbar__items{
 display: flex;
}
.navbar__active{
font-size: 2rem;
font-weight : 700;
color: #000;
border-bottom: 4px solid #00F260;
}

.navbar__item{
margin-right: 20px;
text-decoration: none;
color: #354358;
font-size: 1.3rem;
cursor: pointer; 
}
.navbar__item:hover {
    background: -webkit-linear-gradient(#00F260, #0575E6);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.about {
    padding: 20px;
    margin: -35px;
}

.about__intro {
    font-size: 1.1rem;
    padding: 20px;
    margin: 10px 0;
}

.about__container {
    background-color: #dbdddf;
    padding: 30px 20px;
}

.about__heading {
    font-size: 25px;
    font-weight: 700;
    color: #354358;
    margin-left: 10px;
}

/* skill-card */
.skill-card {
    background-color: #fff;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
}

.skill-card__icon {
    width: 40px;
    height: 40px;
}

.skill-card-body {
    margin-left: 15px;

}

.skill_card__content {
    margin: 0;
    font-size: 0.9rem;
    color: #6e7e91;
}

/* resume */
.resume {
    padding-top: 20px;
}


.resume-card__heading,
.reume-language__heading {
    margin-left: 10px;
    font-size: 1.8rem;
    font-weight: 700;
    color: #354538;
}



.resume-card__title {
    font-weight: 700;
}

.resume-card__name {
    font-size: 16px;
}

.resume-card__details {
    font-size: 0.9rem;
    
}

/* bar */
.bar {
    width: 90%;
    background-color: #f1f2f3;
    border-radius: 20px;
    margin-bottom: 12px;

}

.bar__icon {
    width: 15px;
    height: 15px;
}

.bar__wrapper {
    background-image: linear-gradient(90deg, #00F260, #0575E6);
    border-radius: 20px;
    padding: 4px 14px;
    color: #fff;
    font-size: 0.9rem
}
